@{
    ViewBag.Title = "General Info";
}
<div class="container align-content-center" ">
    <h2>Ihor Kolomoyskiy</h2>
    <p>US sanctions Ukrainian oligarch Ihor Kolomoisky</p>
    <p>
        The United States imposed sanctions against Ukrainian oligarch Ihor Kolomoisky on March 5 in a move that underlined American support for Ukraine’s Euro-Atlantic integration and indicated a toughening stance in Washington DC towards the country’s over-powerful oligarch elite.

        The US State Department announced the public designation of Kolomoisky due to his involvement in “significant corruption” in his official capacity as governor of Ukraine’s Dnipropetrovsk Oblast from 2014 to 2015. A statement accompanying the news claimed the designation “reaffirms the US commitment to supporting political, economic, and justice sector reforms that are key to Ukraine’s Euro-Atlantic path. The United States continues to stand with all Ukrainians whose work drives reforms forward. The Department will continue to use authorities like this to promote accountability for corrupt actors in this region and globally.”
    </p>
    <p>Born: January 1, 1960</p>
    <p>Died: </p>
</div>
