@{
    ViewBag.Title = "Life History";
}

<div class="container align-content-center">
    <h2>Life History</h2>
    <h3>Early Life</h3>
    <p>
        Many observers interpreted the sanctions measures as a signal from the US that it now expects Zelenskyy to take his own steps against Kolomoisky. Zelenskyy won election in 2019 as an anti-establishment candidate promising to end decades of oligarch dominance, but he has so far struggled to deliver on his campaign promises of a new era. Instead, he has faced lingering accusations of being too close to Kolomoisky, whose media empire helped establish Zelenskyy as one of Ukraine’s most popular celebrities. Meanwhile, since 2019, Kolomoisky has become increasingly closely associated with efforts to derail crucial anti-corruption reforms and undermine Ukraine’s ties with the country’s Western partners.

        What does the US decision to sanction Ihor Kolomoisky mean for Ukraine’s domestic balance of power and the future direction of the US-Ukrainian relationship?

        Daniel Fried, Distinguished Fellow, Atlantic Council: The State Department’s March 5 “designation” of Ukrainian oligarch Ihor Kolomoisky and his immediate family demonstrates the Biden administration’s support for Ukraine’s democratic, economic, and justice sector reforms that it rightly identifies as key to the country’s Euro-Atlantic future. Coming early in the administration, the Kolomoisky designation suggests that Ukraine is on the US government’s radar.

        By targeting Kolomoisky, the administration has shown it understands that Ukraine’s challenges include both external aggression from the Kremlin and internal corruption–namely, the “iron ring” of oligarchic power over Ukraine’s economy and politics that keeps the country from realizing its potential and weakens it to Putin’s advantage.

        President Biden should call President Zelenskyy soon, especially after the mess made by President Trump, who seemed to regard Ukraine mainly through the prism of his personal partisan interests. Still, this move by the Biden administration is sound. The penalty on Kolomoisky is visa denial, not full blocking sanctions. Those may follow. This initial step has the advantage of speed (full blocking sanctions based on corruption would take more time to prepare). The message to Ukraine is clear: the US stands behind its transformation and calls on Ukraine’s leaders to do their part at home even as they defend the country.
    </p>
    <p>2024</p>

    <h3>Career</h3>
    <p>Details about career.</p>
    <p>
        Thirdly, US-Ukraine relations for the last seven years have been defined to a significant degree by the level, intensity, and consistency of US sanctions toward Russia. Recently, however, the tone of bilateral dialog has also been shaped by US sanctions targeting a number of Ukrainians.

        President Zelenskyy’s response to the new US measures against Kolomoisky will go a long way to determining the character of the US-Ukrainian relationship in the near future. Now that the US has taken the first step and targeted Kolomoisky, the Ukrainian leader is under pressure to deliver on his promises of deoligarchization. It is important for both the US and Ukraine that there be no double standards in this process or attempts to differentiate between “good” and “bad” oligarchs.
    </p>
</div>

