@{
    ViewBag.Title = "Picture Collection";
}
<div class="container align-self-center">
    <h2>Picture Collection</h2>
    <div class="card" style="width: 18rem;">
        <img src="https://media.cnn.com/api/v1/images/stellar/prod/230902164822-ihor-kolomoisky-court-090223.jpg?c=original" class="card-img-top" alt="...">
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://www.atlanticcouncil.org/wp-content/uploads/2021/03/2019-09-13T131259Z_1774260637_RC1ACF7F2890_RTRMADP_3_UKRAINE-SUMMIT-KOLOMOISKY-scaled-e1615320093973.jpg" class="card-img-top" alt="...">
    </div>
</div>
